* {
  box-sizing: border-box;
}
.biznes {
  height: 100%;
  width: 100%;
}
.background {
  background-image: url(../images/image.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 285px;
  border-radius: 25px 25px 25px 25px;
}
.upperBackground {
  background-image: url(../images/Rectangle\ 256.png);
  height: 100%;
  width: 100%;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.innerContainer {
  width: 400px;
  flex-direction: column;
  height: 70%;
  background-color: var(--text-color);
  border-radius: 15px 15px;
}
.innerBiznes {
}
.bizArticle {
  margin-left: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: var(--accent-color);
}
.infoBiz {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
.innerContainer > .btn {
  margin-top: 20px;
  margin-right: 0px;
}

@media screen and (min-width: 425px) {
  .innerContainer > .btn {
    margin-top: 25px;
  }
}
@media screen and (min-width: 768px) {
  .innerContainer {
    margin-left: 50px;
  }
}
