* {
  box-sizing: border-box;
}
.question {
  width: 100%;
  height: 100%;
}

.main-img {
  width: 90%;
}

.sub-article {
  display: flex;
}

.articleHead {
  line-height: 14px;
}

.main-heading {
  font-size: 40px;
  line-height: 30px;
  color: var(--accent-color);
  text-align: left;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.phoneNumber {
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.inputText {
  height: 100px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-bottom: 50px;
}

.accepts {
  display: flex;
  align-content: space-between;
}
.button{
  margin-left: 10px;
}
.button > .btn {
  width: 190px;
  margin-right: 0px;
  font-size: 14px;
 
}

.CheckButton {
  display: flex;
}
.textCheck {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .all-section {
    display: flex;
    align-items: start;
  }
}
@media screen and (max-width: 1024px) {
  .all-section {
    padding-top: 30px;
  }
}
