* {
  box-sizing: border-box;
}
.services {
  text-align: center;
  margin: 0 auto;
}

.our-services {
  margin: 0 auto;
}
.serv {
  font-size: 35px;
  color: var(--accent-color);
}
.infoService {
  margin-bottom: 20px;
  margin-top: 20px;
}
.imageSlide {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.slideImage {
  display: flex;
  align-items: center;
  align-content: center;
  display: none;
  width: 250px;
  height: 300px;
}
.firstText {
  background-image: url(../images/thumb_585\ 4.png);
  background-repeat: no-repeat;
}
.freText {
  background-image: url(../images/thumb_585\ 4.png);
  background-repeat: no-repeat;
}
.firstImg {
  width: 75%;
  margin: auto;
  color: var(--text-color);
}

.innerText {
  background-image: url(../images/a48ceba7baf9de7b45d0cbfebecfbb86\ 5.png);
  background-repeat: no-repeat;
  width: 250px;
  height: 350px;
  margin: 0 auto;
}
.innerImg {
  width: 75%;
  padding-top: 140px;
  margin: auto;
  color: var(--text-color);
}
.upperH3 {
  font-size: 19px;
  font-weight: 550;
  padding-bottom: 20px;
}
.upperText {
  text-align: left;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .slideImage {
    display: block;
    margin: 0 auto;
    height: 300px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .innerImg {
    padding-top: 110px;
  }
}
